.pane-element{
	border:solid 1px green;
	width: 99%;
	height: 99%;
	margin: 1px;
}

#container{
	border:solid 1px black;
	width: 800px;
	height: 600px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}